# ======================
# Secrets / Credentials
# ======================
*.env

# ======================
# Logs
# ======================
logs/
*.log
*.png
*.pdf

# ======================
# IDE junk
# ======================
__pycache__/
*.ipynb_checkpoints/
*.vscode/
*.ipynb

# ======================
# Data files (local only)
# ======================
*.csv
*.xlsx
*.db